body {
    
    background-image: url('../image/2151359528.jpg');
}
h2{
    color: #fff;
    font-family: 'Roboto', sans-serif;
}
.main{
    width: 40%; 
    box-shadow: 1px 1px 10px cornsilk;
    margin: top 45px; 
    padding: 10px;
    font-family: 'Roboto', sans-serif;
}
input{
    bottom: 20px;
    margin-bottom: 50px;
    width: 60%;
    padding:10px ;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
}
button{
    border:none;
    padding: 10px;
    width: 40%;
    font-weight: bold;
    font-size: 15px;
    background-color: aqua;
    cursor: pointer;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 15px;
}
label{
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    background-color: blue;
}
